/*
	Display property

	Inline - consuming the width of the content;examples are img and span
	block - consuming the full width of the page, thus creating line space for the next elementl; examples are div and text - blocks such as h1-h6 and p elements
	inline-block - works as inline element for it's siblings but block element outside it's parent element.
	as long as the siblings elements are inline/inline block, the inline block elements will appear next to these elements
	none - hiding the element from the website and it will not shown in the website
*/
*{

}

#div-1{
	background-color: green;
}
#span-1{
	background-color: purple;
	display: none;
}
#span-2{
	background-color: red;
	display: none;
}
#div-2{
	background-color: pink;
	display: inline-block;
}
#img{
	width: 250px;
	height: 250px;
	display: inline-block;
}
#p-1{
	background-color: #87cefa;
}
#p-2{
	background-color: rgb(255, 105, 180);
	width: 60%;
}
#p-3{
	background-color: yellow;
	width: 40%;
}
#span-sample{
	background-color: gray;
	width: 60%;
}
.sample{
	display: inline-block;
	width: 30%;
	border: 1px solid black;
}
.img-float{
	width: 250px;
	height: 250px;
	float: left;
}
/*CSS UNITS*/

.box{
	background-color: red;
	border: 1px solid black;
	margin: 5px;
}
.fifty-percent{
	width: 50%;
}
.one-hundred-pixels{
	width: 100px;
}
.parent{
	width: 135px;
	border: 2px solid navy;
	font-size: 30px;
}

.fifty-vw{
	width: 50vw;
}
.twenty-five-vh{
	height: 25vh;
}
/*
	rem - root element measurement ; the measurement is the relative to the root element which is the html
	em - element measurement; the measurement of em is relative to it's parent element.
*/
.one-rem{
	font-size: 1rem;
}
.one-em{
	font-size: 1em;
}
.two-rem{
	font-size: 2rem;
}
.two-em{
	font-size: 2em;
}
/* The unit % is based on the parent element */
.two-hundred-percent{
	font-size: 200%;
}
/*Use the background class and refactor to it's element to have a minimum height of 100vh and background color of gray*/
.background{
	min-height: 150vh;
	/*background-color: gray;*/
	/*The background image is outsourced in the internet through the use of url() value*/
	background-image: url(https://c4.wallpaperflare.com/wallpaper/43/1003/707/anime-your-name-kimi-no-na-wa-mitsuha-miyamizu-wallpaper-preview.jpg);
	/*background-repeat - determines whether the client/dev wants to repeat the background should it not fit in the container*/
	background-repeat: no-repeat;
	/*Specify the background size*/
	background-size: 100%;
	/*Specifies the position of the background image relative to the HTML element*/
	/*The value of this property requires two: x and y*/
	background-position: center top;
	/*background-attachment - used to set whether the background image scrolls with the rest of the page of is fixed*/
	background-attachment: fixed;
}
.title{
	color: white;
	text-align: center;
	font-size: 5rem;
	/*This is to get rid of space around the element*/
	margin: 0;
	line-height: 35rem;
}
.container-bg{
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 100vh;
}

/*CSS positioning*/
/*Positions
	static - default position of every element and this follows normal flow of elements
	relative - although it's following the normal flow, it is affected by the left,bottom,right and top measurements
	absolute - positioned relative to it's parent elements. The element is removed from the normal document flow. The other elements will behave as if the element is not in the document
				That is why no space is created for the element
				-the element is positioned relative it's closest position ancestor, that means the parent has to have a position value other than position: static;
	fixed - similar to absolute in term of being remove from the normal flow. It is not affected by any parent element, instead it's based on the element itself.	
	Sticky - combination of relative and fixed. It acts like a relatively positioned element until a certain scroll point and then it acts a fixed element.
*/


.parent-element{
	background-color: skyblue;
	padding: 10px;
	position: relative;
	/*height: 800vh;*/
	/*position: relative; - needed for absolute element with absolute position*/
}
.child-one{
	background-color: gray;
	padding: 10px;
}
.child-two{
	background-color: yellow;
	padding: 10px;
	/*position: static; is not affected by left, bottom, top or right measurements*/
	/*position: relative; is affected by left, bottom, top or right measurements*/
	/*position: absolute; not in the normal flow; is affected by the parent/ancestor elements*/
	/*position: fixed; not in the normal flow; is relative to the position of the element itself*/
	position: sticky;
	top: 10px;
}
.child-three{
	background-color: gray;
	padding: 10px;
}
/*html{
	height: 800vh;
}*/

.container{
	position: relative;
}
/*z-index will determine the stack of the elements*/
.black-box{
	position: relative;
	z-index: 1;
	border: 2px solid black;
	height: 100px;
	margin: 30px;
}
.gray-box{
	position: absolute;
	/*Gray box is above the green&black box*/
	z-index: 3;
	background: lightgray;
	height: 60px;
	width: 70%;
	left: 50px;
	top: 50px;
}
.green-box{
	position: absolute;
	/*Green box will be above the black box*/
	z-index: 2;
	background: lightgreen;
	height: 200px;
	width: 35%;
	left: 270px;
	top: -15px;
}