*{
	padding: 0;
	margin: 0;
}
body{
	font-family: 'Open Sans', sans-serif;
}
nav{
	height: 85px;
	width: 100%;
	position: fixed;
	background-color: white;
	z-index: 12;
}
.nav-logo{
	float: left;
	margin-right: 30%;
	margin-left: 55px;
}
#logo{
	padding: 1.5rem;
}
.nav{
	display: inline;
	text-align: center;
	font-size: 20px;
	margin-right: 1.5rem;
	font-weight: bold;
}
.right-nav{
	padding-top: 1rem;
}
.tuitt-button{
	border: 0;
	background-color: #c2195b;
	color: white;
	font-size: 17.5px;
	border-radius: 150px;
	font-weight: bold;
	padding: 1rem;
	padding-right: 2rem;
	padding-left: 2rem;
}
.front-bg{
	padding-top: 5.5%;
	min-height: 55vh;
	/*Not working so I use linear gradient instead on the background image itself*/
	/*background-color: black;
	opacity: 0.7;*/
}
#bg-image{
    /*background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);*/
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.title{
	color: white;
	font-size: 45px;
	text-align: right;
    padding-right: 7.5rem;
    padding-bottom: 2rem;
    font-family: 'Zilla Slab', serif;
}
.subtitle{
	color:white;
	font-size: 22.5px;
	text-align: right;
    padding-right: 7.5rem;
    font-weight: unset;
    padding-bottom: 1rem;
}
.apply-button{
	float: right;
	border: 0;
	background-color: #c2195b;
	color: white;
	font-size: 15px;
	border-radius: 150px;
	padding: .75rem;
	padding-right: 3.5rem;
	padding-left: 3.5rem;
	margin-right: 7.5rem;
}
.title-2{
	margin-top: 7.5rem;
	text-align: center;
	font-size: 35px;
	margin-bottom: 5rem;
	font-family: 'Zilla Slab', serif;
	font-weight: bold;
}
.intro-description{
	text-align: left;
	margin-top: 15px;
	margin-bottom: 10px;
	margin-right: 10%;
	margin-left: 10%;
	font-size: 20px;
}
.pre-footer{
	background-color: #f7fbfb;
	text-align: center;
	margin-right: 10%;
	margin-left: 10%;
}
.prefooter-description{
	font-size: 20px;
}
.book-button{
	background-color: #336589;
	color: white;
	padding: .5rem;
	padding-right: 4rem;
	padding-left: 4rem;
	font-size: 20px;
	font-weight: bold;
	margin-top: 1rem;
	border-radius: 150px;
	margin-bottom: 9rem;
}
footer{
	text-align: center;
	font-size: 20px;
}